.itemListPage{
    min-height: 100vh;
    h1 {
        margin: 0;
      }
      .listitem {
        display: flex;
        flex-direction: row;
        overflow: auto;
        .item {
          display: flex;
          align-items: center;
          background-color: orange;
          border-radius: 5px;
          border-style: outset;
          cursor: pointer;
          padding: 5px;
          height: 40px;
          width: 300px;
          margin-bottom: 10px;
          span, input {
            margin-right: auto;
          }
          input {
            width: 150px;
          }
        }
        .itemsSibling {
          display: flex;
        }
        .ReactCollapse--collapse {
          transition: height 500ms;
          position: relative;
          left: 20px;
        }
      }
}